# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: maven-build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Set up JDK 17
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        server-id: github.pospai.snapshots
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Cache local Maven repository
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('launcher/src/main/features/**/*.json') }}
        restore-keys: |
          ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: mvn -B verify -P container,ci --file pom.xml
      env:
        MAVEN_USERNAME: rombert
        MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    - name: Save container logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: always()
      with:
        name: container-logs
        path: |
          container/target/docker-pospai.log
    - name: Run Trivy
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        image-ref: 'rombert/pospai:latest'
        format: 'table'
        # exit-code: '1' TODO - enable once we get get no errors
        ignore-unfixed: true
        severity: 'CRITICAL,HIGH'        
    - name: Login to DockerHub
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}    
    - name: Push container image to DockerHub
      if: ${{ github.ref == 'refs/heads/master' }}
      run: mvn -f container/pom.xml docker:push
